%section.meetup
  %h1= meetup.name
  %h3= meetup.date

  %p= meetup.details

  %aside.location
    - if user_signed_in?
      %h3.location-name
        = meetup.location.name
        (#{link_to "Map", maps_url(meetup.full_address)})
      %pre.address= meetup.full_address
    - else
      %p #{link_to 'Sign In', new_user_session_path} to see where this meetup is in Erie!

  %aside.info
    %ul
      %li #{meetup.days_away} days away
      %li #{meetup.members_attending} members going

  %aside.rsvp
    - if user_signed_in?
      - if meetup.rsvped?(current_user)
        %p Your RSVP: #{meetup.rsvp_status(current_user)}
      - else
        %p RSVP Now:
        .rsvp-choices
          %button.yes{ type: :button } Yes
          %button.no{ type: :button } No
    - else
      %p #{link_to 'Sign In', new_user_session_path} to RSVP!
