%section.meetup
  %h1= meetup.name
  %h3= meetup.starts_at

  %p= meetup.details

  %aside.location
    - if user_signed_in?
      %h3.location-name
        = meetup.location.name
        (#{link_to "Map", maps_url(meetup.location)})
      %pre.address= meetup.location.to_s
    - else
      %p #{link_to 'Sign In', new_user_session_path} to see where this meetup is in Erie!

  %aside.info
    %ul
      %li #{(meetup.starts_at.to_date - Time.now.to_date).to_i} days away
      %li #{meetup.confirmed_attendees.count} members going

  %aside.rsvp
    - if user_signed_in?
      - if meetup.rsvped?(current_user)
        %p Your RSVP: #{meetup.attending?(current_user) ? 'Yes' : 'No'}
      - else
        %p RSVP Now:
        .rsvp-choices
          %button.yes{ type: :button } Yes
          %button.no{ type: :button } No
    - else
      %p #{link_to 'Sign In', new_user_session_path} to RSVP!
