!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title #{t(:site_name)} - #{t(:tag_line)}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      %header#site-header
        .row
          .third
            %div.brand
              = link_to root_path do
                =image_tag 'brand/circlebraces.png', :class => 'brandmark'
                %span.cod>Cod
                %span.e>e
                %span.rie>rie
          .two-third
            %nav#site-nav
              %ul
                %li= link_to 'Meetups', meetups_path

            %nav#user-nav
              - if user_signed_in?
                %p Welcome, #{current_user.email}!
                %ul
                  %li= link_to 'Logout', destroy_user_session_path, 'data-method' => 'delete'
              - else
                %ul
                  %li= link_to 'Login', new_user_session_path
                  %li= link_to 'Sign Up', new_user_registration_path

      -#%h3= t(:tag_line)
      -#%p Write Code? Live around Erie? Come join us!
    %main#site-main
      %p.notice= notice
      %p.alert= alert
      = yield

    %footer#site-footer
      Copyright &copy; 2015 Coderie User Group
